// colors
$main-color: #0d5b62;
$border-color: #083539;
$background-color: #85bec0;
$black: #232323;
$main-text-color: #FFFFFF;
$alt-icon-color: #e7582a;

// fonts
$logo-font: 'Pacifico', cursive;
$button-font: 'Bebas neue', sans-serif;
$main-font: 'Source Sans Pro', sans-serif;

// align elements vertically
@mixin vert-align {
  
  display: flex;
  align-items: center;
  justify-content: center;

}

// aligns the header vertically on mobile view.
@mixin mobile-head-align {

  @media only screen and (max-width: 1023px) {
    display: flex;
    align-items: center;
    justify-content: center;

    div.profile-info {
      margin-top: 9rem;
    }
  }
  
}