// colors

$main-color: #0d5b62;
$background-color: #85bec0;
$black: #151515;
$main-text-color: #FFFFFF;
$alt-icon-color: #e7582a;

// fonts
$logo-font: 'Pacifico', cursive;
$button-font: 'Bebas neue', sans-serif;
$main-font: 'Source Sans Pro', sans-serif;