@import '_base';

header.main {
  display: flex;
  width: 100%;
  height: 520px;
  background: url('../images/bright-squares.png');
  background-color: $main-color;
  justify-content: center;
  align-items: flex-end;
  color: $main-text-color;
  font-family: 'Source Sans Pro', sans-serif;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-weight: normal;
}

h2 strong {
  color: #151515;
}