@import '_base';

header.main {
  @include mobile-head-align;
  width: 100%;
  height: 520px;
  background: url('../images/bright-squares.png');
  background-color: $main-color;
  color: $main-text-color;
  font-family: $main-font
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-weight: normal;
}

h2 strong {
  color: $black;
}