@import '_base';

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $main-color;
  color: $main-text-color;
  height: 120px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  overflow: hidden;
  position: fixed;
  top: 0;
}
.nav-text {
  cursor: pointer;
}

#arrow-icon {
  display: flex;
  justify-content: center;
  color: $alt-icon-color;
}

.logo {
  font-size: 1.5em;
  font-family: $logo-font
}