nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5FB49C;
  color: #FFFFFF;
  height: 120px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  overflow: hidden;
  position: fixed;
  top: 0;
}

.nav-text {
  cursor: pointer;
}

#arrow-icon {
  display: flex;
  justify-content: center;
  color: #e7582a;
}

.logo {
  font-size: 1.5em;
  font-family: "Pacifico", cursive;
  text-shadow: 0.2rem 0.2rem #232323;
}
