form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-content: flex-start;
}

#tweet-text::placeholder {
  color: #FFFFFF;
  opacity: 30%;
}

#tweet-text {
  margin-top: 1em;
  height: 3rem;
  min-height: 3rem;
  min-width: 100%;
  max-width: 100%;
  font-weight: bolder;
  color: #232323;
  padding-bottom: 0.5em;
  border: none;
  border-bottom: 3px solid #232323;
  background: none;
  outline: none;
}

.bottom-content {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-top: 1em;
}

button {
  display: flex;
  color: #FFFFFF;
  background-color: #0d5b62;
  font-family: "Bebas neue", sans-serif;
  letter-spacing: 0.15em;
  align-self: flex-end;
  border: 0.15em solid #083539;
}

button:hover {
  border: 0.15em solid #e7582a;
  transition-duration: 0.4s;
}

output {
  color: #083539;
  font-family: "Bebas neue", sans-serif;
  font-size: larger;
}

#negative {
  color: red;
}

main h2 {
  font-weight: bolder;
}

div:empty {
  display: none;
}

div #error-alert {
  display: flex;
  justify-content: center;
  background: none;
  font-weight: bolder;
  color: red;
  /* border: .15em solid red; */
  border-radius: 0.5em;
  /* box-shadow: 0px 0px 5px red; */
  opacity: 50%;
}

.bottom-content p.error {
  margin: 0px 10px 0px 10px;
}
